body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover;
  font-family: "Mukta", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}
h2 {
  color: #2f2f2f;
  font-size: 1.5rem;
}
.btn {
  font-size: 18px;
}
.frame {
  display: flex;
  justify-content: center;
  position: relative;
}
#svgFrame {
  position: absolute;
  z-index: -1;
}
.quotes {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  font-size: 1.1rem;
}
.footer {
  font-weight: bold;
}

@media (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .frame {
    padding-top: 0rem !important;
  }
  .quotes {
    top: 20%;
    width: 410px;
  }
  p {
    margin-bottom: 5px;
  }
  svg {
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .quotes {
    top: 30%;
    width: 310px;
    font-size: 0.8rem;
  }
}
